* {
  /*border: solid red 1px;*/
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("images/carpet.jpg");
  background-size: fill;
  background-repeat: repeat;
}

.ai-slot {
  flex-direction: row-reverse;;
  justify-content: space-between;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 600px;
}

.bet input {
  width: 20px;
  margin-right: 5px;
}

.button {

}

.card {
  border: solid #f8f8f8 .5px;
  border-radius: 5px;
  height: 60px;
  width: 30px;
  margin: 2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.Club { background-image: url("./images/spade.png"); }
.Spade { background-image: url("./images/club.png"); }
.Heart { background-image: url('./images/heart.png'); }
.Diamond { background-image: url('./images/diamond.png'); }

.card.face {
  background-color: #fafafa;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;*/
}

.card.faceDown {
  background-image: url('https://s24.postimg.org/yk4rcl2qt/images.jpg');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  align-items: center;
  border: solid #f8f8f8 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
  padding: 10px;
}

.dealer-slot {
  justify-content: center;
}

.displayNormal{
  display: block;
  background-color: #f8f8f8;
}

.displayNone{
  display: none;
}

.dealer {
  order: 1;
}

.hand {
  display: flex;
  flex-direction: row;
}

.mainMessage {
  background-color: rgba( 200, 200, 200, 0.5);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 black;
  color: rgb(148, 18, 18);
  font-weight: bold;
  padding: 10px;
}

.player {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.player-name {
  background-color: rgba( 13, 13, 13, 0.5 );
  color: rgb( 79, 164, 108 );
  padding: 5px;

}

.player-name {
  text-shadow: 1px 1px 5px #bada55;
  color: #fafafa;
}

.player-slot {
  justify-content: center;
}

.player-ui {
  width: 80%;
  background-color: #1d3542;
  color: white;
  min-height: 20%;
}

.slot {
  width: 100%;
  display: flex;
  align-items: center;
}

.table {
  align-items: center;
  background-image: url('https://s27.postimg.org/751qujf8j/Game_Page_BJ_Main_1461050691624_tcm1582_294463.jpg');
  background: radial-gradient( circle, #f8f8f8 5%, #bada55 50%, green 90% );
  background: -webkit-radial-gradient( circle, #f8f8f8 5%, #bada55 50%, green 90% );
  background: -o-radial-gradient( circle, #f8f8f8 5%, #bada55 50%, green 90% );
  background: -moz-radial-gradient( circle, #f8f8f8 5%, #bada55 50%, green 90% );
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%;
  border: groove brown 3px;
  box-shadow: 8px 8px 20px 5px #0d0d0d;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-style: inset;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
  min-height: 80%;
  width: 70%;
}
